body {
  font-family: 'Courier New', Courier, monospace
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(155, 116, 123);
}

button {
  background-color: white;
  border: 1px solid black;
  font-family: 'Courier New', Courier, monospace;
  padding: 8px;
}

label {
  display: block;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% auto;
  gap: 20px;
  margin-left: 30px;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#all-poems-container {
  width: 85%;
  margin: 0 auto;
  justify-content: center;
}

#all-poems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.title {
  justify-content: center;
}

.poem {
  width: 300px;
  border: 1px solid white;
  padding: 25px;
  margin: 6px;
  background: linear-gradient(90deg, rgba(238,174,202,0.6797312675070029) 0%, rgba(148,187,233,0.6237088585434174) 100%);  /* background: linear-gradient(152deg, rgba(255,255,255,0.6293110994397759) 0%, rgba(227,156,44,0.590095413165266) 35%, rgba(148,60,245,0.6797312675070029) 100%); */
}

input {
  background-color: transparent;
  border: 1px solid black;
}

#add-line-form {
  display: flex;
  gap: 5px;
}

/* .poem:hover {
  border: 2px solid white;
} */
